*{
    font: optional;
    
}
body{
    background-color: black;
}
h1{
    text-align: center;
}
h2{
    bottom: 5px solid black;
}
.section{
    background-color: antiquewhite;
}

header{
    background-color: rgb(19, 149, 229)
}
.header{
    text-align: center;
}

