*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#registration{
    display: inline-flex;
    border: 1px solid black;
    padding: 10px;
}
#form{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    width: 750px;
    border: 1px solid black;
    padding: 20px;
}
#form div{
    display: flex;
    gap: 20px 0px;
    justify-content: space-between;
}
#gender-box{
    padding-left: 10px;
    width: 220px;
}
#skill-box{
    padding-left: 10px;
    width: 430px;
}
#action-buttons button{
    padding: 10px;
}